body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column {
  flex: 25%;
  padding: 20px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

/* Layout: */

.col-main {
  flex: 1;
}

.col-complementary {
  flex: 1;
}

/* Responsive: */

@media only screen and (min-width: 640px) {
  .layout {
    display: flex;
  }
}

.col {
  padding: 1em;
  margin: 0 2px 2px 0;
}

.card_Agent {
  margin-right: 20px;
  width: 300px;
  height: 450px;
  background-color: white;
  left: 40%;
  top: 5%;
  border-radius: 3%;
  overflow: hidden;
}

.card-img {
  position: relative;
  width: 100%;
  height: 150px;
  background-image: url("https://picsum.photos/id/1033/300/400");
  background-size: cover;
}

.card-img .card-img-background {
  height: 100%;
  width: 100%;
}

.image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: relative;
  left: 90px;
  top: 80px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
}

.image02 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 30px;
  /* position: relative; */
  /* left: 90px; */
  top: 200px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
}

.profile {
  top: 20%;
  left: 5%;
  position: relative;
  width: 90%;
  text-align: center;
}

.summary {
  width: 70%;
  left: 15%;
  top: 10%;
  position: relative;
}

.contactsWrapper {
  display: flex;
  justify-content: center;
}
